<template>
  <div class="<%= name %>">
    <%= name %>
  </div>
</template>

<script>
export default {
  data() {
    return {}
  },
  methods: {
  }
}
</script>

<style lang="scss">
.<%= name %> {
}
</style>
